header{
  height: 9vh;
  width: 100%;
  background-color: grey;
}

.title, .nav, .navlink{
  display: inline-block !important;
}

aside {
  height: 87vh;
  float: left;
}

.dashboard {
  float: right;
  overflow-y: scroll;
  height: 87vh;
  background-color: purple;
}

footer{
  height:6vh;
  width: 100%;
  clear: both;
  background-color: grey;
}

@media screen and (max-width:680px){
  header {
    height: 7vh;
  }
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: flex;
  }
  ul.topnav.responsive li a {
    width: 100%;
    flex-direction: column;
    text-align: left;
  }
}
