header{
  height: 9vh;
  width: 100%;
  background-color: grey;
}

.title, .nav, .navlink{
  display: inline-block !important;
}

aside {
  height: 87vh;
  float: left;
}

.dashboard {
  float: right;
  overflow-y: scroll;
  height: 87vh;
  background-color: purple;
}

.search-by-type{
  margin-bottom:30px;
  color: #FFFFE9;
  margin-top: 15px;
}


.kendraSearchContainer{
  display:flex;
  flex-direction: row;
}

.kendraSearch{
  border-radius: 2px;
  border: none;
  width: 135px;
  margin-bottom: 0;
  font-family: 'quicksand';
  font-weight: lighter;
  text-align: center;
  color: #333;
}

.kendraSearchButton{
  border-radius: 2px;
  background-color: #BAD80A;
  border: none;
  color: #FFFFE9 !important;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}

.kendraSelect {
  background-color: white;
  color: #333;
  font-weight: lighter;
  font-family: 'quicksand';
}

footer{
  height:6vh;
  width: 100%;
  clear: both;
  background-color: grey;
}

@media screen and (max-width:680px){
  header {
    height: 7vh;
  }
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: flex;
  }
  ul.topnav.responsive li a {
    width: 100%;
    flex-direction: column;
    text-align: left;
  }
}
